


<div class="main-content" *ngIf="!showForm">
<div class="container-fluid">

    <div class="row">
          <div class="col-lg-12 col-md-12">
                    
                        <div class="card" >
                        <div class="card-header" data-background-color="red">
                            <h3 class="title">Employees</h3>
                            </div>

                        <div class="card-content table-responsive">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let user of users">
                                                
                                                <td>{{user.fullName}}</td>
                                                <td>{{user.userRole}}</td>
                                                <td class="td-actions text-right">
                                                   
                                                    <button type="button" rel="tooltip" title="Edit User's Info" class="btn btn-primary btn-simple btn-xs" (click)="showFormFunc(user)">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button *ngIf="user.id !== loggedUser.userId" type="button" rel="tooltip" title="Delete User" class="btn btn-danger btn-simple btn-xs" (click)="displayDeleteModal(user)" >
                                                        <i class="material-icons">close</i>
                                                    </button>
                                          
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        
                    </div> 
                </div> 
    </div>
</div>
</div>






<div id="deleteModal"  class="modal">

<div style="text-align:center" class="modal-content animate">
    <h3>Are you Sure ?</h3>
    <button type="submit" class="btn btn-danger" style="padding:10px 30px" (click)="closeDeleteModal('Yes')" >Yes</button>
    <button type="submit" class="btn btn-danger" style="padding:10px 30px;margin-left:10px" (click)="closeDeleteModal('No')" >No</button>
</div>

</div> 
</div>



<div class="main-content" *ngIf="showForm">
        
        
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-2">
                <div class="fab primary" style="float:left;margin-top:-80px;width:45px;height:45px;z-index:999999" id="masterfab" (click)="hideFormFunc()">
                        <span class="fa fa-chevron-left" style="font-size:30px;padding-right:5px;padding-top:-10px"></span>
                    </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Edit Profile</h4>
                </div>
                <div class="card-content">
                    <form>
                            <div class="row">
                                    
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Full Name</label>
                                            <input type="text" class="form-control" [value]="currentUser.fullName" [(ngModel)]="currentUser.fullName" name="fullName" >
                                        </div>
                                    </div>

                                </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control" [value]="currentUser.username" [(ngModel)]="currentUser.username" name="username" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Email address</label>
                                    <input type="email" class="form-control" [value]="currentUser.email" [(ngModel)]="currentUser.email" name="email" >
                                </div>
                            </div>
                        </div>

                       

                        

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="currentUser.password" name="password" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="currentUser.confirmPassword" name="confirmPassword" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                       <div class="dropdown pull-right">
                                <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" style="color:white">
                                    {{currentUser.userRole}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li><a style="cursor:pointer" (click)="changeUserRole('employee')" >Employee</a></li>
                                    <li><a style="cursor:pointer" (click)="changeUserRole('admin')" >Admin</a></li>
                                </ul>
                            </div>
                            
                            </div>
                        <div class="col-md-6"></div>
                            <div class="col-md-3"><button type="submit" [ngClass]="currentUser.password !== currentUser.confirmPassword ? 'disabled' : ''" class="btn btn-danger pull-right" (click)="updateProfile()"  >Update Profile</button></div>
                        </div>

                        
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>