<div style="width: 140px">
<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        AMS
    </a>
</div>
<div class="sidebar-wrapper" style="width: 150px" >
   
        <ul class="nav nav-pills nav-pills-icons nav-pills-danger" role="tablist">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]" role="tab" data-toggle="tab">
                    <i style="margin-left:20px;width:45px" class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    
</div>
</div>