<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" [href]="location.path()"><i *ngIf="this.user.getShowFormStatus() || this.table.getAnalyticsStatus()" style="margin-right:10px" class="fa fa-chevron-left" aria-hidden="true"></i>{{getTitle()}}</a> -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="margin-left:20px"><h4>Last 5 Attendence Timings</h4></li>
                        <li><a style="cursor:pointer" *ngFor="let notification of notifications" >Punch In: {{notification.punchIn | date: 'hh:mm:ss a'}} ({{notification.punchIn | date: 'dd MMMM, y'}})<br>Punch Out: {{notification.punchOut | date: 'hh:mm:ss a'}} ({{notification.punchOut | date: 'dd MMMM, y'}})</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor:pointer" (click)="logout()"> Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
