
<div class="wrapper">
    <div class="sidebar" data-color='red' data-image="">
        <sidebar-cmp *ngIf="loggedIn"></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel"  style="width:90%">
        <navbar-cmp  *ngIf="loggedIn"></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <div *ngIf="isMaps('/maps')">
            <footer-cmp  *ngIf="loggedIn"></footer-cmp>
        </div>
    </div>
</div>