<footer>
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} Attendence Management System, HybridLogics
        </p>
    </div>
</footer>
