td {
    font-size: 10px;
    font: bolder;
    color:black
}

.scrollable-menu {
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}
.userData{
    padding-left: 0px;
    padding-right: 0px;
}
.userData:hover {
    background-color: lightgrey;
    cursor: pointer;
}





#holidayModal {
    display: none;
}

.modal {
    margin-top: 150px;
    
}
/* Modal Content/Box */
.modal-content {
    padding-bottom: 10px;
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
