<div class="main-content">

        <div class="container-fluid">




 <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="card-content" style="padding-bottom:75px">
                            <h3 class="title">Right Now</h3>
                            <p class="category" id="clock" style="margin-top:70px;font-size:40px"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="isAdmin">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div style="text-align:center;padding-bottom:25px" class="card-content">
                            <h3 class="title">Holiday </h3>
                            <button (click)="displayHolidayModal('declare')" type="submit" class="btn btn-danger" >Declare Holidays</button>
                            <button (click)="displayHolidayModal('cancel')" type="submit" class="btn btn-danger" >Cancel Holidays</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!isAdmin" >
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div style="text-align:center" class="card-content">
                            <h3 class="title">Note </h3>
                            <p style="text-align:center;margin-top:25px;padding-bottom:20px" class="category">Please use your office system to Punch In/Out but if you forgot or want to work from home then E-mail at hybridlogics@gmail.com for Punch In/Out timing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card" >
                        <div class="card-header" data-background-color="red">
                            <h1 style="margin-left:30px"><i [ngClass]="punchedStatus ? 'fa fa-thumbs-o-up' : 'fa fa-thumbs-o-down'" aria-hidden="true"></i> <span style="margin-left:30px"> <strong>  PUNCHED {{punched}} </strong> </span> </h1>
                        </div>
                        <div class="card-content" style="margin-left:120px">
                            <button type="submit" class="btn btn-danger" (click)="punchFunc('in')" [disabled]="punchedStatus" onclick="demo.showNotificationPunchIn('bottom','right')" >Punch In</button>
                            <button style="margin-left:40px" type="submit" class="btn btn-danger" (click)="punchFunc('out')" [disabled]="!punchedStatus" onclick="demo.showNotificationPunchOut('bottom','right')">Punch Out</button>
                        </div>

                    </div>
                </div>
            </div> 


            <div class="row">


                
                <!--  <div class="col-lg-6 col-md-12">
                    <div class="card card-nav-tabs" >
                        <div class="card-header" data-background-color="purple">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Tasks:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab">
                                                <i class="material-icons">bug_report</i>
                                                Bugs
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#messages" data-toggle="tab">
                                                <i class="material-icons">code</i>
                                                Website
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#settings" data-toggle="tab">
                                                <i class="material-icons">cloud</i>
                                                Server
                                            <div class="ripple-container"></div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 

                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="purple">


                            <div class="dropdown pull-right">
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color:white">
                                    {{currentMonth}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li *ngFor="let month of monthNames;let i = index"><a style="cursor:pointer" (click)="selectMonth(i)">{{month}}</a></li>
                                </ul>
                            </div>

                            <div class="dropdown pull-right">
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color:white">
                                    {{currentYear}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li *ngFor="let year of years"><a style="cursor:pointer" (click)="selectYear(year.id)">{{year.name}}</a></li>
                                </ul>
                            </div>

                            <h4 class="title">My Stats</h4>
                            <p class="category">{{fullName}}</p>

                           

                        </div>
                        
                        <div class="card-content table-responsive">

                            <div class="row" style="margin-left:60px">
                            
                                <div class="alert alert-info col-lg-1 col-md-1">
                                    <h4 style="cursor:pointer;text-align:center" data-toggle="popover" data-content="Official Working Days" data-placement="bottom" data-trigger="hover" ><strong>OWD<br> {{OWD}}</strong></h4>
                                </div>
                                <div class="col-lg-1 col-md-1"></div>
                                <div class="alert alert-info col-lg-1 col-md-1">
                                    <h4 style="cursor:pointer;text-align:center" data-toggle="popover" data-content="Worked Days" data-placement="bottom" data-trigger="hover"><strong> WD <br> {{WD}}</strong></h4>
                                </div>
                                <div class="col-lg-1 col-md-1"></div>
                                <div class="alert alert-warning col-lg-1 col-md-1">
                                    <h4 style="cursor:pointer;text-align:center" data-toggle="popover" data-content="Working Hours (Total)" data-placement="bottom" data-trigger="hover"> <strong> WH <br>{{WH}}</strong></h4>
                                </div>
                                <div class="col-lg-1 col-md-1"></div>
                                <div class="alert alert-warning col-lg-1 col-md-1">
                                    <h4 style="cursor:pointer;text-align:center" data-toggle="popover" data-content="Hours Worked" data-placement="bottom" data-trigger="hover"><strong> HW <br> {{HW}}</strong></h4>
                                </div>
                                <div class="col-lg-1 col-md-1"></div>
                                <div class="alert alert-danger col-lg-1 col-md-1">
                                    <h4 style="cursor:pointer;text-align:center" data-toggle="popover" data-content="Leaves" data-placement="bottom" data-trigger="hover"><strong> L <br> {{L}}</strong></h4>
                                </div>
                                <div class="col-lg-1 col-md-1"></div>
                                <div class="alert alert-danger col-lg-1 col-md-1" >
                                    <h4 style="cursor:pointer;text-align:center" data-toggle="popover" data-content="Absents" data-placement="bottom" data-trigger="hover"><strong> A <br> {{A}}</strong></h4>
                                </div>
                            
                            </div>


                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        
                                        <th *ngFor="let day of userMonthlyData">{{day.date}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td class="userData" *ngFor="let data of userMonthlyData" style="padding: 0px 0px;height:30px;width:30px"><button style="border:none;background-color:inherit;width:100%;height:100%;padding:0px 0px" data-placement="top" (focus)="openPopover($event.currentTarget, data)" >{{data.day}}</button></td>
                                        <!-- <div class="popover fade top in" role="tooltip" id="popover173630" style="top: 141px; left: 196.438px; display: block;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title">August, 11</h3><div class="popover-content">Punch In time: 09:01 AM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Punch Out time: 06:01 PM</div></div> -->
                                        <!-- data-toggle="popover" [title]="currentMonth + ', ' + data.date" data-placement="top" data-trigger="hover"  data-content="Punch In time: 09:01 AM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Punch Out time: 06:01 PM" -->
                                        <!-- (focus)="openPopover($event.currentTarget, data)" (focusout)="closePopover($event.currentTarget)" -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            

            <div class="row">
                        <div class="col-md-6" *ngIf="flag">
                            <div style="display: block;">
                            <canvas baseChart width="400" height="200"
                                        [datasets]="monthChartData"
                                        [labels]="monthChartLabels"
                                        [options]="monthChartOptions"
                                        [colors]="monthChartColors"
                                        [legend]="monthChartLegend"
                                        [chartType]="monthChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="flag">
                            <div style="display: block;">
                            <canvas baseChart width="400" height="200"
                                        [datasets]="weekChartData"
                                        [labels]="weekChartLabels"
                                        [options]="weekChartOptions"
                                        [colors]="weekChartColors"
                                        [legend]="weekChartLegend"
                                        [chartType]="weekChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                
                </div>

            
        </div>
</div>


<div id="holidayModal"  class="modal">
    
    <div style="text-align:center" class="modal-content animate">
        <h3>Declare a Holiday</h3>

        <p>Start Date: <input type="date" [(ngModel)]="holidayStartDate" name="holidayStartDate" ></p>
        <p>End Date: <input type="date" [(ngModel)]="holidayEndDate" name="holidayEndDate" ></p>
        
        <button type="submit" class="btn btn-danger" style="padding:10px 30px" (click)="closeHolidayModal('save')" >Set</button>
        <button type="submit" class="btn btn-danger" style="padding:10px 30px;margin-left:10px" (click)="closeHolidayModal('cancel')" >Cancel</button>
    </div>
    
</div> 