td {
    font-size: 10px;
    font: bolder;
    color:black
}

.scrollable-menu {
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}
.userData{
    padding-left: 0px;
    padding-right: 0px;
}
.userData:hover {
    background-color: lightgrey;
    cursor: pointer;
}


/*------------------- Fabicon -------------------- */

.fab {
	text-align: center;
	position: sticky;
	bottom: 30px;
	right: 30px;
	font-size: 2.6667em;
	color: #FFF;
  }
  .fab span {
	vertical-align: middle;
  }
  .fab.primary{
	width: 64px;
	height: 64px;
	background: #03A9F4;
	cursor: pointer;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
	padding:10px;
	border-radius: 50%;
	float: right;

  }
  .fab.child {
	right: 58spx;
	background: rgba(128, 128, 128, 0.50);
	padding: 4px;
	width: 200px;
	float: right;
	height: auto;
	display: none;
	opacity: 0;
	font-size: 2em;
  }
  /* .fab.child table {
	border: #FFF 1px solid;
  } */
  .fab.child table tbody tr td {
		font-size: 15px;
		padding: 0px;
	color: #FFF;
	border: #FFF 1px solid;
  }
  /* .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ECECEC;
	opacity: 0.9;
	display: none;
  } */
