
<div class="main-content" *ngIf="!analytics">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Employees</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>User Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr (click)="showAnalytics(user)" style="cursor: pointer" *ngFor="let user of users">
                                    <td style="font-size:15px">{{user.fullName}}</td>
                                    <td style="font-size:15px">{{user.userRole}}</td>
                                </tr>
                               
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>



<div class="main-content" *ngIf="analytics">

        <div class="fab primary" style="float:left;margin-top:-80px;width:45px;height:45px;cursor:pointer;z-index:999999" id="masterfab" (click)="hideAnalytics()">
                <span class="fa fa-chevron-left" style="font-size:30px;padding-right:5px;padding-top:-10px"></span>
            </div>

        <!-- <a class="navbar-brand" (click)="hideAnalytics()" style="cursor:pointer"><i style="margin-right:10px" class="fa fa-chevron-left" aria-hidden="true"></i>Go back</a> -->
        
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="purple">
                            <button type="submit" (click)="download()" class="btn btn-danger pull-right" >Download CSV</button>
                            <button type="submit" (click)="readCsvData()" class="btn btn-danger pull-right" >Upload CSV</button>
                            
                            
                            <div class="dropdown pull-right">
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color:white">
                                    {{currentMonth}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li *ngFor="let month of monthNames;let i = index"><a style="cursor:pointer" (click)="selectMonth(i)">{{month}}</a></li>
                                </ul>
                            </div>

                            <div class="dropdown pull-right">
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color:white">
                                    {{currentYear}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li *ngFor="let year of years"><a style="cursor:pointer" (click)="selectYear(year.id)">{{year.name}}</a></li>
                                </ul>
                            </div>

                            <h4 class="title">Employee Stats</h4>
                            <p class="category">{{currentUser.fullName}}</p>

                            

                        </div>
                        
                        <div class="card-content table-responsive">

                            <div class="row" style="margin-left:60px">
                                
                                    <div class="alert alert-info col-lg-1 col-md-1">
                                        <h4 style="text-align:center" style="cursor:pointer;margin-left:8px" data-toggle="popover" data-content="Official Working Days" data-placement="bottom" data-trigger="hover" ><strong>OWD<br>&nbsp; {{OWD}}</strong></h4>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="alert alert-info col-lg-1 col-md-1">
                                        <h4 style="text-align:center" style="cursor:pointer;margin-left:8px" data-toggle="popover" data-content="Worked Days" data-placement="bottom" data-trigger="hover"><strong> WD <br>&nbsp; {{WD}}</strong></h4>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="alert alert-warning col-lg-1 col-md-1">
                                        <h4 style="text-align:center" style="cursor:pointer;margin-left:8px" data-toggle="popover" data-content="Working Hours (Total)" data-placement="bottom" data-trigger="hover"> <strong> WH <br>{{WH}}</strong></h4>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="alert alert-warning col-lg-1 col-md-1">
                                        <h4 style="text-align:center" style="cursor:pointer;margin-left:8px" data-toggle="popover" data-content="Hours Worked" data-placement="bottom" data-trigger="hover"><strong> HW <br> {{HW}}</strong></h4>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="alert alert-danger col-lg-1 col-md-1">
                                        <h4 style="text-align:center" style="cursor:pointer;margin-left:25px" data-toggle="popover" data-content="Leaves" data-placement="bottom" data-trigger="hover"><strong> L <br> {{L}}</strong></h4>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="alert alert-danger col-lg-1 col-md-1" >
                                        <h4 style="text-align:center" style="cursor:pointer;margin-left:22px" data-toggle="popover" data-content="Absents" data-placement="bottom" data-trigger="hover"><strong> A <br> {{A}}</strong></h4>
                                    </div>
                                
                                </div>


                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        
                                        <th *ngFor="let day of userMonthlyData">{{day.date}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td class="userData" *ngFor="let data of userMonthlyData" style="padding: 0px 0px;height:30px;width:30px;"><button style="border:none;background-color:inherit;width:100%;height:100%;padding:0px 0px;" data-placement="top" (focus)="openPopover($event.currentTarget, data)" >{{data.day}}</button></td>
                                        <!-- <div class="popover fade top in" role="tooltip" id="popover173630" style="top: 141px; left: 196.438px; display: block;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title">August, 11</h3><div class="popover-content">Punch In time: 09:01 AM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Punch Out time: 06:01 PM</div></div> -->
                                        <!-- data-toggle="popover" [title]="currentMonth + ', ' + data.date" data-placement="top" data-trigger="hover"  data-content="Punch In time: 09:01 AM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Punch Out time: 06:01 PM" -->
                                        <!-- (focus)="openPopover($event.currentTarget, data)" (focusout)="closePopover($event.currentTarget)" -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            

                <div class="row">
                        <div class="col-md-6" *ngIf="flag">
                            <div style="display: block;">
                            <canvas baseChart width="400" height="200"
                                        [datasets]="monthChartData"
                                        [labels]="monthChartLabels"
                                        [options]="monthChartOptions"
                                        [colors]="monthChartColors"
                                        [legend]="monthChartLegend"
                                        [chartType]="monthChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="flag">
                            <div style="display: block;">
                            <canvas baseChart width="400" height="200"
                                        [datasets]="weekChartData"
                                        [labels]="weekChartLabels"
                                        [options]="weekChartOptions"
                                        [colors]="weekChartColors"
                                        [legend]="weekChartLegend"
                                        [chartType]="weekChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                
                </div>

    </div>

    <div class="backdrop"></div>
    <div class="fab child" data-subitem="3"><span>
            <table class="table">
                    <tbody>
                      <tr>
                        <td>13:00</td>
                        <td>1:00 PM</td>
                      </tr>
                      <tr>
                        <td>14:00</td>
                        <td>2:00 PM</td>
                      </tr>
                      <tr>
                        <td>15:00</td>
                        <td>3:00 PM</td>
                      </tr>
                      <tr>
                        <td>16:00</td>
                        <td>4:00 PM</td>
                      </tr>
                      <tr>
                        <td>17:00</td>
                        <td>5:00 PM</td>
                      </tr>
                      <tr>
                        <td>18:00</td>
                        <td>6:00 PM</td>
                      </tr>
                      <tr>
                        <td>19:00</td>
                        <td>7:00 PM</td>
                      </tr>
                      <tr>
                        <td>20:00</td>
                        <td>8:00 PM</td>
                      </tr>
                      <tr>
                        <td>21:00</td>
                        <td>9:00 PM</td>
                      </tr>
                      <tr>
                        <td>22:00</td>
                        <td>10:00 PM</td>
                      </tr>
                      <tr>
                        <td>23:00</td>
                        <td>11:00 PM</td>
                      </tr>
                    </tbody>
                  </table>
    </span></div>
    <div class="fab primary" id="masterfab" (click)="fabVisible()">
        <span class="fa fa-question"></span>
    </div>

</div>