
<div class="main-content" style="width: 80%; margin-left: 150px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title"> <img src="assets\img\keywhite.png" style="width:50px"> &nbsp; Login</h4>
                    <p class="category">Monday - Friday : 9am to 6pm 
                       <br> Monday - Saturday : 10am to 6pm</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                           
                            
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email Address</label>
                                    <input [(ngModel)]="username" type="email" class="form-control" name="username" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input [(ngModel)]="password" type="password" class="form-control" name="password" >
                                </div>
                            </div>

                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" checked>
                            </label>
                            <label style="font-size:20px">Remember me</label>
                        </div>
                        <br>
                        <div style="margin-left: 120px">
                            <button type="submit" (click)="onPost()" class="btn btn-danger pull-left" >Login</button>
                            <button type="submit" (click)="register()" class="btn btn-danger pull-left" style="margin-left: 20px">Register</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
