<button type="submit" (click)="login()" class="btn btn-danger pull-left">Back</button>
<div class="main-content" style="width: 80%; margin-left: 150px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title"> <img src="assets\img\keywhite.png" style="width:50px"> &nbsp; Register</h4>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                           
                            
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Name</label>
                                    <input [(ngModel)]="name" type="text" class="form-control" name="name" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           
                            
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input [(ngModel)]="username" type="text" class="form-control" name="username" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           
                            
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email Address</label>
                                    <input [(ngModel)]="email" type="email" class="form-control" name="email" >
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                           
                            
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">ID</label>
                                    <input [(ngModel)]="id" type="text" class="form-control" name="id" >
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                           
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input [(ngModel)]="password" type="password" class="form-control" name="password" >
                                </div>
                            </div>

                        </div>

                        <div class="row">
                           
                            
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Confirm Password</label>
                                    <input [(ngModel)]="confirm_password" type="password" class="form-control" name="confirm_password" >
                                </div>
                            </div>
                        </div>
                        
                        
                        <div style="margin-right: 120px">
                            <button type="submit" (click)="onRegister()" class="btn btn-danger pull-right">Submit</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
